body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:737px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:737px;
}
#u1 {
  position:absolute;
  left:2px;
  top:360px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:480px;
  width:210px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
